#spring:
#  cloud:
#    gateway:
#      routes:
#        - id: test_route
#          uri: https://www.baidu.com
#          predicates:
#            - Query=url,baidu
#
#        - id: qq_route
#          uri: https://www.qq.com
#          predicates:
#            - Query=url,qq
#        #产品服务
#        - id: product_route
#          uri: lb://gulimall-product
#          predicates:
#            - Path=/api/product/**,/hello
#          filters:
#            - RewritePath=/api/(?<segment>.*),/$\{segment}
#
#        #第三方服务的路由
#        - id: third-party-route
#          uri: lb://gulimall-third-party
#          predicates:
#            - Path=/api/thirdparty/**
#          filters:
#            - RewritePath=/api/thirdparty/(?<segment>.*),/$\{segment}
#
#        # 会员服务
#        - id: member_route
#          uri: lb://gulimall-member
#          predicates:
#            - Path=/api/member/**
#          filters:
#            - RewritePath=/api/(?<segment>.*),/$\{segment}
#
#        # 库存服务
#        - id: ware_route
#          uri: lb://gulimall-ware
#          predicates:
#            - Path=/api/ware/**
#          filters:
#            - RewritePath=/api/(?<segment>.*),/$\{segment}
#
#        - id: admin_route
#          uri: lb://renren-fast
#          predicates:
#            - Path=/api/**
#          filters:
#            - RewritePath=/api/(?<segment>.*),/renren-fast/$\{segment}
#        #按照Host地址进行映射
#        - id: gulimall_index_route
#          uri: lb://gulimall-product
#          predicates:
#            - Host=gulimall.com,item.gulimall.com
#        #按照Host地址进行映射
#        - id: gulimall_search_route
#          uri: lb://gulimall-search
#          predicates:
#            - Host=search.gulimall.com
#        #按照认证服务地址进行映射
#        - id: gulimall_auth_route
#          uri: lb://gulimall-auth-server
#          predicates:
#            - Host=auth.gulimall.com
#        #按照购物车服务地址进行映射
#        - id: gulimall_cart_route
#          uri: lb://gulimall-cart
#          predicates:
#            - Host=cart.gulimall.com
#
## 1、请求网关、http://localhost:88/renren-fast/api/captcha.jpg?
## 2、通过负载均衡，拿到网关地址及其对应的端口号 ： uri: lb://renren-fast
#server:
#  port: 88
## 结果：http://renren-fast:8080/api/captcha.jpg 期望：http://localhost:8080/renren-fast/captcha.jpg
